# Pandas数据操作

In [1]:
import pandas as pd

* Series索引

In [2]:
ser_obj = pd.Series(range(5), index = ['a', 'b', 'c', 'd', 'e'])
print(ser_obj.head())

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [3]:
# 行索引
print(ser_obj['a'])
print(ser_obj[0])

0
0

In [4]:
# 切片索引
print(ser_obj[1:3])
print(ser_obj['b':'d'])

b    1
c    2
dtype: int64
b    1
c    2
d    3
dtype: int64

In [5]:
# 不连续索引
print(ser_obj[[0, 2, 4]])
print(ser_obj[['a', 'e']])

a    0
c    2
e    4
dtype: int64
a    0
e    4
dtype: int64

In [6]:
# 布尔索引
ser_bool = ser_obj > 2
print(ser_bool)
print(ser_obj[ser_bool])

print(ser_obj[ser_obj > 2])

a    False
b    False
c    False
d     True
e     True
dtype: bool
d    3
e    4
dtype: int64
d    3
e    4
dtype: int64

* DataFrame索引

In [7]:
import numpy as np

df_obj = pd.DataFrame(np.random.randn(5,4), columns = ['a', 'b', 'c', 'd'])
print(df_obj.head())

          a         b         c         d
0 -2.326085 -1.040869 -0.261124  0.068803
1 -0.451073 -0.607443 -0.685069  0.436505
2 -1.521228 -1.763915  0.055805  0.520392
3 -0.322022 -0.553815 -0.350902  0.191680
4  0.736396  1.326633  0.580695  2.148400

In [8]:
# 列索引
print('列索引')
print(df_obj['a']) # 返回Series类型
print(type(df_obj['a'])) # 返回DataFrame类型

# 不连续索引
print('不连续索引')
print(df_obj[['a','c']])
print(df_obj[['a', 'c']])

列索引
0   -2.326085
1   -0.451073
2   -1.521228
3   -0.322022
4    0.736396
Name: a, dtype: float64
<class 'pandas.core.series.Series'>
不连续索引
          a         c
0 -2.326085 -0.261124
1 -0.451073 -0.685069
2 -1.521228  0.055805
3 -0.322022 -0.350902
4  0.736396  0.580695
          a         c
0 -2.326085 -0.261124
1 -0.451073 -0.685069
2 -1.521228  0.055805
3 -0.322022 -0.350902
4  0.736396  0.580695

* 三种索引方式

In [9]:
# 标签索引 loc
# Series
print(ser_obj['b':'d'])
print(ser_obj.loc['b':'d'])

# DataFrame
print(df_obj['a'])
print(df_obj.loc[0:2, 'a'])

b    1
c    2
d    3
dtype: int64
b    1
c    2
d    3
dtype: int64
0   -2.326085
1   -0.451073
2   -1.521228
3   -0.322022
4    0.736396
Name: a, dtype: float64
0   -2.326085
1   -0.451073
2   -1.521228
Name: a, dtype: float64

In [10]:
# 整型位置索引 iloc
print(ser_obj[1:3])
print(ser_obj.iloc[1:3])

# DataFrame
print(df_obj.iloc[0:2, 0]) # 注意和df_obj.loc[0:2, 'a']的区别

b    1
c    2
dtype: int64
b    1
c    2
dtype: int64
0   -2.326085
1   -0.451073
Name: a, dtype: float64

In [11]:
# 混合索引 ix
print(ser_obj.ix[1:3])
print(ser_obj.ix['b':'c'])

# DataFrame
print(df_obj.ix[0:2, 0]) # 先按标签索引尝试操作，然后再按位置索引尝试操作

b    1
c    2
dtype: int64
b    1
c    2
dtype: int64
0   -2.326085
1   -0.451073
2   -1.521228
Name: a, dtype: float64

C:\Users\111\Miniconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

C:\Users\111\Miniconda3\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

* 运算与对齐

In [12]:
s1 = pd.Series(range(10, 20), index = range(10))
s2 = pd.Series(range(20, 25), index = range(5))

print('s1: ' )
print(s1)

print('') 

print('s2: ')
print(s2)

s1:
0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

s2:
0    20
1    21
2    22
3    23
4    24
dtype: int64

In [13]:
# Series 对齐运算
s1 + s2

0    30.0
1    32.0
2    34.0
3    36.0
4    38.0
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
dtype: float64

In [14]:
import numpy as np

df1 = pd.DataFrame(np.ones((2,2)), columns = ['a', 'b'])
df2 = pd.DataFrame(np.ones((3,3)), columns = ['a', 'b', 'c'])

print('df1: ')
print(df1)

print('') 
print('df2: ')
print(df2)

df1:
     a    b
0  1.0  1.0
1  1.0  1.0

df2:
     a    b    c
0  1.0  1.0  1.0
1  1.0  1.0  1.0
2  1.0  1.0  1.0

In [15]:
# DataFrame对齐操作
df1 + df2

     a    b   c
0  2.0  2.0 NaN
1  2.0  2.0 NaN
2  NaN  NaN NaN

In [16]:
# 填充未对齐的数据进行运算
print(s1)
print(s2)

s1.add(s2, fill_value = -1)

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64
0    20
1    21
2    22
3    23
4    24
dtype: int64

0    30.0
1    32.0
2    34.0
3    36.0
4    38.0
5    14.0
6    15.0
7    16.0
8    17.0
9    18.0
dtype: float64

In [17]:
df1.sub(df2, fill_value = 2.)

     a    b    c
0  0.0  0.0  1.0
1  0.0  0.0  1.0
2  1.0  1.0  1.0

In [18]:
# 填充NaN
s3 = s1 + s2
print(s3)

0    30.0
1    32.0
2    34.0
3    36.0
4    38.0
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
dtype: float64

In [19]:
s3_filled = s3.fillna(-1)
print(s3_filled)

0    30.0
1    32.0
2    34.0
3    36.0
4    38.0
5    -1.0
6    -1.0
7    -1.0
8    -1.0
9    -1.0
dtype: float64

In [20]:
df3 = df1 + df2
print(df3)

     a    b   c
0  2.0  2.0 NaN
1  2.0  2.0 NaN
2  NaN  NaN NaN

In [21]:
df3.fillna(100, inplace = True)
print(df3)

       a      b      c
0    2.0    2.0  100.0
1    2.0    2.0  100.0
2  100.0  100.0  100.0

* 函数应用

In [22]:
# Numpy ufunc 函数
df = pd.DataFrame(np.random.randn(5,4) - 1)
print(df)

print(np.abs(df))

          0         1         2         3
0 -1.402886 -1.535920 -2.197150  1.298996
1 -0.978792 -0.511406  0.537996  0.182035
2 -0.788956 -0.644466 -1.175520 -0.011107
3  0.959392 -1.448020 -0.398228 -0.117851
4 -1.581192 -1.096860 -1.805510 -2.268312
          0         1         2         3
0  1.402886  1.535920  2.197150  1.298996
1  0.978792  0.511406  0.537996  0.182035
2  0.788956  0.644466  1.175520  0.011107
3  0.959392  1.448020  0.398228  0.117851
4  1.581192  1.096860  1.805510  2.268312

In [23]:
# 使用apply应用行或列数据
#f = lambda x : x.max()
print(df.apply(lambda x : x.max()))

0    0.959392
1   -0.511406
2    0.537996
3    1.298996
dtype: float64

In [24]:
# 指定轴方向
print(df.apply(lambda x : x.max(), axis=1))

0    1.298996
1    0.537996
2   -0.011107
3    0.959392
4   -1.096860
dtype: float64

In [25]:
# 使用applymap应用到每个数据
f2 = lambda x : '%.2f' % x
print(df.applymap(f2))

       0      1      2      3
0  -1.40  -1.54  -2.20   1.30
1  -0.98  -0.51   0.54   0.18
2  -0.79  -0.64  -1.18  -0.01
3   0.96  -1.45  -0.40  -0.12
4  -1.58  -1.10  -1.81  -2.27

* 排序

In [26]:
s4 = pd.Series(range(10, 15), index = np.random.randint(5, size=5))
print(s4)

2    10
0    11
2    12
2    13
1    14
dtype: int64

In [27]:
# 索引排序
s4.sort_index()

0    11
1    14
2    10
2    12
2    13
dtype: int64

In [28]:
df4 = pd.DataFrame(np.random.randn(3, 4), 
                   index=np.random.randint(3, size=3),
                   columns=np.random.randint(4, size=4))
print(df4)

          2         2         3         2
1  1.813249  1.337830 -0.285218  1.213279
0 -0.967255  0.084989  0.480494  0.351037
0 -0.701080  0.516303 -0.639765 -0.260523

In [29]:
#df4.sort_index(ascending=False)
df4.sort_index(axis=1)

          2         2         2         3
1  1.813249  1.337830  1.213279 -0.285218
0 -0.967255  0.084989  0.351037  0.480494
0 -0.701080  0.516303 -0.260523 -0.639765

In [30]:
# 按值排序
df4.sort_values(by=1)

KeyError: 1

* 处理缺失数据

In [ ]:
df_data = pd.DataFrame([np.random.randn(3), [1., np.nan, np.nan],
                       [4., np.nan, np.nan], [1., np.nan, 2.]])
df_data.head()

In [ ]:
# isnull
df_data.isnull()

In [ ]:
# dropna
df_data.dropna()
#df_data.dropna(axis=1)

In [ ]:
# fillna
df_data.fillna(-100.)